/* Event CSS */
.background-card {
  background-color: rgba(50,255,255,0.2);
  border-radius: 4px;
  padding: 4px 2px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden; /* sécurité supplémentaire si le contenu texte dépasse aussi */
}

.event-font {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-row {
    display:flex;
    align-items: stretch;  
}

.event-card {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 8px;
    min-width: 8px;   /* 👈 empêche la compression */
    flex-shrink: 0;
}

.event-content {
  flex: 1;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  line-height: 1.2;
}

.event-content b {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-content small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}