@import "tailwindcss";

.button-base {
    --btn-bg: #245473;
    --btn-color: white;
    --btn-hover-bg: #2d5c7f;

    background-color: var(--btn-bg);
    color: var(--btn-color);

    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
}

.button-base:hover {
  background-color: var(--btn-hover-bg);
}